@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);

.cover {
     margin:0 48px 92px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-size: 100%;
     background-repeat: no-repeat;
     z-index: 2;
     background-image: url(../../images/_background.jpeg);
     width: 1184px;
     height: 740px;
     margin: 0 auto 92px;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
	.cover {
                margin: 0 auto 92px;
                width: 1024px;
                height: 640px;
               
	}
}

@media screen and (min-width:768px) and (max-width:1023px)  {
	.cover{
                width: 768px;
                height: 480px;
             
	}
}

@media screen and (min-width:320px) and (max-width:767px){
	.cover {
                margin: 16px auto 64px;
                height: 200px;
                width: 320px;
    }
}