.lead__caption {
    width: 159px;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #ffffff;
    align-self: flex-start;
    margin-top:8px;
}


@media screen and (min-width:1024px) and (max-width:1279px) {
	.lead__caption {
	
	}
}





@media screen and (min-width:768px) and (max-width:1023px) {
	.lead__caption {
      margin: 8px 0 0 24px;
        
		
	}
}


@media screen and (min-width:320px) and (max-width:767px){
	.lead__caption {
		width: 320px;
	}
}
